fastapi
uvicorn[standard]
sqlalchemy
jinja2
python-multipart
pydantic==2.8.2
pydantic-core==2.20.1
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator
psycopg2-binary==2.9.9
httpx
python-dotenv